<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="//sindresorhus.com/github-markdown-css/github-markdown.css">
    <link rel="stylesheet" href="//highlightjs.org/static/demo/styles/github-gist.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn0.iconfinder.com/data/icons/octicons/1024/markdown-128.png" />
</head>
<body>
    <div class="container markdown-body content-box">
        <%-data%>
    </div>
    <script src="/js/highlight.min.js"></script>
    <script>
    hljs.initHighlightingOnLoad();
    </script>
</body>
</html>