* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

a {
    color: lightseagreen;
    text-decoration: none;
}

.list-box ul {
    list-style: none;
    padding-left: 0;
}

.container {
    width: 480px;
    margin: 20px auto;
    padding: .3rem .4rem;
}

.list-box {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #eee;
}

.content-box {
    width: 800px;
    padding: 10px 30px 20px;
    border: 1px solid #ccc;
}

.file {
    padding-left: 1rem;
    font-size: 1rem;
}

.file-dir {
    background: url(/images/folder.svg) no-repeat scroll 0 .1rem/1rem 1rem padding-box;
}

.file-file {
    background: url(/images/file.svg) no-repeat scroll 0 .1rem/1rem 1rem padding-box;
}

.file-md {
    background: url(/images/favicon.ico) no-repeat scroll 0 .1rem/1rem 1rem padding-box;
}

@media screen and (max-width: 480px) {
    .bd {
        height: 100%;
        background-color: #eee;
    }

    .container {
        width: 100%;
        margin: 0;
    }

    .list-box {
        border: 0;
    }


}